@font-face {
    font-family: 'TTHoves-Regular';
    src: url('../../fonts/TTHoves-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-Light';
    src: url('../../fonts/TTHoves-Light.ttf') format('truetype');
}